@page "/owner/business/{BusinessId:guid}/staff"
@using SetWhen.App.Components.Modals
@inject IBusinessApi BusinessApi
@inject IJSRuntime JS
@inject AuthStateService AuthState
@inject NavigationManager Nav
@inject IDialogService DialogService

<h4 class="text-center my-3">کارکنان کسب‌و‌کار</h4>

@if (staffs == null)
{
        <p class="text-center">در حال بارگذاری...</p>
}
else if (!staffs.Any())
{
        <p class="text-muted text-center">تعداد کارمندان: 0</p>
        <p class="text-muted text-center">هیچ کارمندی ثبت نشده است.</p>
}
else
{
        <ul class="list-group">
        @foreach (var s in staffs)
        {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                @s.FullName
                        <span class="badge bg-secondary">@s.PhoneNumber</span>
                    </li>
        }
        </ul>
}

<MudButton Class="mt-4 w-100" Variant="Variant.Filled" Color="Color.Primary" OnClick="OpenAddStaffModal">
    افزودن کارمند جدید
</MudButton>

@code {
    [Parameter] public Guid BusinessId { get; set; }

    private List<UserDto>? staffs;

    protected override async Task OnInitializedAsync()
    {
        if (!AuthState.IsLoggedIn)
        {
            Nav.NavigateTo("/login", true);
            return;
        }

        await LoadStaffs();
    }

    private async Task LoadStaffs()
    {
        try
        {
            staffs = await BusinessApi.GetStaffAsync(BusinessId);
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", $"خطا در اطلاعات کارکنان : {ex.Message}");
        }
    }

    private async Task OpenAddStaffModal()
    {
        var parameters = new DialogParameters
        {
            { "BusinessId", BusinessId }
        };

        var options = new DialogOptions
            {
                CloseButton = true,
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                FullScreen = false,
                Position = DialogPosition.Center
            };
        var dialog = DialogService.Show<AddStaffModal>("افزودن کارمند جدید", parameters, options);
        var result = await dialog.Result;

        if (result.Data is true)
        {
            await LoadStaffs();
        }
    }
}