@inject AuthStateService AuthState
@inject NavigationManager Navigation

@inject AuthStateService AuthState
@inject NavigationManager Nav

<div class="navbar bg-app-primary text-white">
    <div class="navbar-title d-flex align-items-center justify-content-center" @onclick="GoToHome">
        <i class="bx bx-time bx-sm me-1"></i> SetWhen
    </div>
    @if (AuthState.IsLoggedIn)
    {
        <button class="btn btn-outline-secondary " @onclick="Logout">خروج</button>
    }

</div>
@code {
    private async Task Logout()
    {
        await AuthState.LogoutAsync();
        Nav.NavigateTo("/landing", true);
    }

    private async Task GoToHome()
    {
        Navigation.NavigateTo("/");
    }
}

<style>
    .navbar
    {
        height: var(--navbar-height) ;
        position : sticky ;
        z-index : 10;
        top : 0;
        display : flex;
        justify-content : space-between;
        align-items : center;
        padding : 10px;
        font-size : 18px ;
        box-shadow : 0 5px 8px rgba(0,0,0,0.2)
    }

    .navbar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
</style>