@inject NavigationManager Navigation
@inject TokenStorageService TokenStorage

<div class="navbar bg-app-primary text-white" >
    <div class="navbar-title d-flex align-items-center justify-content-center" @onclick="GoToHome">
    <i class="bx bx-time bx-sm me-1"></i> SetWhen
    </div>
    <div class="navbar-item" @onclick="HandleNewReservationClick">
        <i class="bx bx-plus-circle"></i>
        <span>رزرو جدید</span>
    </div>
</div>




@code {
    private async Task HandleNewReservationClick()
    {
        var token = await TokenStorage.GetTokenAsync();

        if (string.IsNullOrWhiteSpace(token))
        {
            Navigation.NavigateTo("/login?returnUrl=/reserve");
        }
        else
        {
            Navigation.NavigateTo("/reserve");
        }
    }

    private async Task GoToHome()
    {
        Navigation.NavigateTo("/");
    }


}

<style>
    .navbar
    {
        height: var(--navbar-height) ;
        position : sticky ;
        z-index : 10;
        top : 0;
        display : flex;
        justify-content : space-between;
        align-items : center;
        padding : 10px;
        font-size : 18px ;
        box-shadow : 0 5px 8px rgba(0,0,0,0.2)
    }

    .navbar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
    }
</style>