/*#if (SampleContent)*/
:root {
    --app-lighter: #f3f0ff;
    --app-light: #e35c38;
    --app-primary: #001b2e;
    --app-dark: #3b0a75;
    --app-secondary: #ff6f61;
    --navbar-height: 50px;
    --tabbar-height: 60px;
}
@font-face {
    font-family: 'Vazirmatn';
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Vazirmatn', 'Tahoma', 'Arial', sans-serif;
}

.bg-app-lighter {
    background-color : var(--app-lighter);
}
.bg-app-light {
    background-color: var(--app-light);
}
.bg-app-primary {
    background-color: var(--app-primary);
}
.bg-app-dark {
    background-color: var(--app-dark);
}
.bg-app-secondary {
    background-color: var(--app-secondary);
}


.text-app-lighter {
    color: var(--app-lighter);
}

.text-app-light {
    color: var(--app-light);
}

.text-app-primary {
    color: var(--app-primary);
}

.text-app-dark {
    color: var(--app-dark);
}

.text-app-secondary {
    color: var(--app-secondary);
}



.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

   
}
